{
    "presets": [
        ["env", {
            "targets": {
                "browser": [
                    "last 6 versions",
                    "ie >= 8"
                ]
            }
        }]
    ]
}